* {padding:0em;
margin:0;
font-size:100%;
line-height:1em;}

/*---Images---*/

.logo{width:26%; padding:4% 37% 4% 37%;}

.Princesses{padding-left:10%; padding-right:6%;}

.colour-scheme{width:18em;} 

ul {list-style-type:none; margin:0; padding:1em 0em 1em 0em;}

ul li {display:inline-block; margin:1em 4em 3em 0; position:relative;}


/*---Footer---*/

footer{font-family:'Open Sans',sans-serif; 
        padding:0 0 1% 0; 
        font-size:.9em; 
        text-align:center; 
        text-decoration:none; 
        color:#000000;}

.footer{text-decoration:none; text-decoration:none;}

.website{padding-bottom:3em; text-decoration:none; color:#D2487A;}

.website:hover{font-weight:bold; text-decoration:none;}

.footer li {display:inline; margin:1%;}

/*----MEDIA QUERIES-----*/

/*---TABLET---*/

@media (max-width:979px) {

.logo{width:36%; padding:5% 32% 4% 32%;}

.Princesses{padding-left:13%; padding-right:7%;}

.colour-scheme{width:16em;} 

ul {list-style-type:none; margin:0; padding:1em 0em 1em 0em;}

ul li {display:inline-block; margin:1em 3em 2em 0; position:relative;}
}
	
/*---SMARTPHONE---*/

@media (max-width:414px) {
    
.logo{width:50%; padding:9% 25% 4% 25%;}

.Princesses{padding-left:15%; padding-right:5%;}

.colour-scheme{width:16em;} 

}
